@using Huybrechts.App.Identity.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Tenant/Manage" Match="NavLinkMatch.All">Details</NavLink>
    </li>
</ul>

@code {
    protected override void OnInitialized()
    {
        
    }
}
