<!doctype html>
<html lang="en" data-bs-theme="auto" data-scheme="navy" style="font-size: 18px;">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="The account pages allows a user to gain access to an application by entering their username and password or by authenticating using a social media login.">
    <meta name="keywords" content="developer, resume, cv, personal, portfolio, personal resume">
    <meta name="author" content="Vincent Huybrechts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["MetaTitle"] - Huybrechts XYZ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="~/lib/nifty/bootstrap.css">
    <link rel="stylesheet" href="~/lib/nifty/nifty.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="manifest" href="./site.webmanifest">
    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    <div id="root" class="root front-container">
        <section id="content" class="content">
            <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <div class="content__wrap">
                    @RenderBody()
                </div>
            </div>
        </section>
    </div>
    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/nifty/bootstrap.min.js"></script>
    <script src="~/lib/nifty/js/nifty.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
