@page
@inject IViewLocalizer Localizer
@model ConfirmEmailChangeModel
@{
    ViewData["MetaTitle"] = Localizer["Confirm email change"];
}
<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3">@ViewData["MetaTitle"]</h1>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
        </div>

    </div>
</div>