@page
@inject IViewLocalizer Localizer
@model ForgotPasswordConfirmation
@{
    ViewData["MetaTitle"] = Localizer["Forgot password confirmation"];
}
<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3 text-danger">@ViewData["MetaTitle"]</h1>
            <p class="text-info">@Localizer["Please check your email to reset your password."]</p>
        </div>

    </div>
</div>
