@page
@inject IViewLocalizer Localizer
@model LoginWithRecoveryCodeModel
@{
    ViewData["MetaTitle"] = Localizer["Recovery code verification"];
    ViewData["Info"] = Localizer["You have requested to log in with a recovery code. This login will not be remembered until you provide an authenticator app code at log in or disable 2FA and log in again."];
}
<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3">@ViewData["MetaTitle"]</h1>
            <p class="text-info">@ViewData["Info"]</p>
        </div>

        <form id="recoveryForm" class="mt-4" method="post">

            <div class="mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" aria-required="true" placeholder="@Html.DisplayNameFor(model => model.Input.RecoveryCode)" autofocus />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="d-grid mt-5">
                <button id="recoverySubmit" type="submit" class="btn btn-primary btn-lg">@Localizer["Log in"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
