@page
@inject IViewLocalizer Localizer
@model LogoutModel
@{
    ViewData["Title"] = Localizer["Log out"];
}

<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3 text-danger">@ViewData["Title"]</h1>
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Click here to Logout"]</button>
                    </form>
                }
                else
                {
                    <p>@Localizer["You have successfully logged out of the application."]</p>
                }
            }
        </div>

    </div>
</div>
