@page
@inject IViewLocalizer Localizer
@model ResetPasswordModel
@{
    ViewData["MetaTitle"] = Localizer["Reset password"];
}

<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3">@ViewData["MetaTitle"]</h1>
            <p class="text-info">@Localizer["Reset your password."]</p>
        </div>

        <form id="resetForm" class="mt-4" method="post">
            <input asp-for="Input.Code" type="hidden" />
            
            <div class="mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" autofocus />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="d-grid mt-5">
                <button id="resendSubmit" type="submit" class="btn btn-primary btn-lg">@Localizer["Reset"]</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
