@page
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["MetaTitle"] = Localizer["Reset password confirmation"];
}
<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3 text-danger">@ViewData["MetaTitle"]</h1>
            <p>
                @Localizer["Your password has been reset."] <a asp-page="./Login">@Localizer["Please click here to log in."]</a>
            </p>
        </div>

    </div>
</div>