@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Platform.Service.DeleteModel
@{
    ViewData["CardTitle"] = SL["ServiceDeleteTitle"];
    //ViewData["ActivePage"] = ManageNavPages.Info;
}

<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    @SL["ServiceDeleteInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="Data.PlatformInfoId" />
                <select asp-for="Data.PlatformInfoId"
                        asp-items="Model.Platforms?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()"
                        class="form-select" disabled></select>
                <label asp-for="Data.PlatformInfoId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Name" class="form-control" disabled />
                <label asp-for="Data.Name" class="form-label"></label>
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Label" class="form-control" disabled />
                <label asp-for="Data.Label" class="form-label"></label>
                <span asp-validation-for="Data.Label" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Data.PlatformRegionId"
                        asp-items="Model.Regions?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()"
                        class="form-select" disabled></select>
                <label asp-for="Data.PlatformRegionId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Data.PlatformProductId"
                        asp-items="Model.Products?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()"
                        class="form-select" disabled></select>
                <label asp-for="Data.PlatformProductId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Description" class="form-control" disabled />
                <label asp-for="Data.Description" class="form-label"></label>
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.CostDriver" class="form-control" disabled />
                <label asp-for="Data.CostDriver" class="form-label"></label>
                <span asp-validation-for="Data.CostDriver" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.CostBasedOn" class="form-control" disabled />
                <label asp-for="Data.CostBasedOn" class="form-label"></label>
                <span asp-validation-for="Data.CostBasedOn" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Limitations" class="form-control" disabled />
                <label asp-for="Data.Limitations" class="form-label"></label>
                <span asp-validation-for="Data.Limitations" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Size" class="form-control" disabled />
                <label asp-for="Data.Size" class="form-label"></label>
                <span asp-validation-for="Data.Size" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.AboutURL" class="form-control" disabled />
                <label asp-for="Data.AboutURL" class="form-label"></label>
                <span asp-validation-for="Data.AboutURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.PricingURL" class="form-control" disabled />
                <label asp-for="Data.PricingURL" class="form-label"></label>
                <span asp-validation-for="Data.PricingURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.ServiceId" class="form-control" disabled />
                <label asp-for="Data.ServiceId" class="form-label"></label>
                <span asp-validation-for="Data.ServiceId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.ServiceName" class="form-control" disabled />
                <label asp-for="Data.ServiceName" class="form-label"></label>
                <span asp-validation-for="Data.ServiceName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Remark" class="form-control" disabled />
                <label asp-for="Data.Remark" class="form-label"></label>
                <span asp-validation-for="Data.Remark" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="delete-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-trash2-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-page="/Features/Platform/Service/Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId">@SL["Services"]</a></li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}