@inject IViewLocalizer Localizer

@{
    // if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    // {
    //     Layout = parentLayout.ToString();
    // }
    // else
    // {
    //     Layout = "/Pages/Shared/_Layout.cshtml";
    // }
    Layout = "/Pages/Shared/_Layout.cshtml";

    ViewData["MetaTitle"] = "Platforms";
    ViewData["MetaInfo"] = "The platform management pages allows a user to manage infrastructure platform definitions.";
    ViewData["PageTitle"] = Localizer["Manage your platforms"];
    ViewData["PageInfo"] = Localizer["Change your platform settings"];
}

<div class="content__boxed">
    <div class="content__wrap">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        <h5 class="card-header">@ViewData["CardTitle"]</h5>
                        <p></p>
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Localizer["Platforms"]</li>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}