@using Huybrechts.App.Application
@inject IViewLocalizer Localizer
@{
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.InfoNavClass(ViewContext)" id="platform" asp-page="/Features/Platform/Index">@Localizer["Platforms"]</a></li>
</ul>
