@page "/tenant"
@using Huybrechts.App.Identity
@using Huybrechts.App.Identity.Entities

@inject ApplicationTenantManager TenantManager

<h3>Your Tenants</h3>

@if (model is not null)
{
    <table>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>State</th>
        </tr>
        @foreach(var item in model)
        {
            <tr>
                <td>
                    @if (item.Picture is not null)
                    {
                        <img id="profilePicture" style="width:32px;height:32px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.Picture))">
                    }
                    else
                    {
                        <img id="profilePicture" style="width:32px;height:32px; object-fit:cover" src="">
                    }
                </td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.State</td>
            </tr>
        }
    </table>
}

@code {
    private IList<ApplicationTenant>? model;

    protected override async Task OnInitializedAsync()
    {
        model = await TenantManager.GetTenantsAsync();
    }
}
