<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
      </environmentVariables>
    </aspNetCore>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="https://huybrechts.xyz" />-->
        <add name="Content-Security-Policy" value="default-src 'none';
          base-uri 'self';
          font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;
          form-action 'self' https://accounts.google.com;
          frame-ancestors 'none';
          frame-src 'self' https://www.google.com https://notfound-static.fwebservices.be/;
          img-src 'self' https://*.googleusercontent.com data:;
          object-src 'none';
          script-src-elem 'self' *.google.com https://www.gstatic.com;
          style-src 'self' *.googleapis.com;" />
        <!--<add name="Feature-Policy" value="vibrate 'self'; sync-xhr 'self' https://huybrechts.xyz" />-->
        <add name="Permissions-Policy" value="vibrate 'self'; sync-xhr 'self' https://huybrechts.xyz https://*.huybrechts.xyz"/>
        <add name="Referrer-Policy" value="no-referrer, strict-origin-when-cross-origin" />
        <add name="Set-Cookie" value="max-age=2592000; Path=/; Secure; HttpOnly; SameSite=Strict;" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <remove name="X-Powered-By" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
      </outboundRules>
    </rewrite>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>