@page
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Setup.IndexModel
@{
    ViewData["CardTitle"] = SL["MainTitle"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["MainInfo"]
</p>