@page
@model TenantInviteModel
@{
    ViewData["Title"] = "Invite users to Tenant";
    ViewData["ActivePage"] = ManageNavPages.UserTenants;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TenantId" class="form-control" placeholder="Please choose your tenant id." disabled />
                <label asp-for="Input.TenantId" class="form-label"></label>
                <span asp-validation-for="Input.TenantId" class="text-danger"></span>
                <input hidden asp-for="Input.TenantId" />
            </div>
            <div class ="mb-3">
                <label asp-for="Input.RoleId" class="form-label"></label>
                <select asp-for="Input.RoleId"
                        asp-items="@(new SelectList(Model.Roles,"Id","Label"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Input.RoleId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Input.Users" class="form-control"></textarea>
                <label asp-for="Input.Users" class="form-label"></label>
                <span asp-validation-for="Input.RoleId" class="text-danger"></span>
                <p class="text-info">Add one line for each user. Use the e-mail address of existing users!</p>
            </div>
            <p></p>
            <a class="w-30 btn btn-lg btn-secondary" asp-page="./Tenants">Back</a>
            <button id="invite-tenant-button" type="submit" class="w-70 btn btn-lg btn-primary">Invite</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
