@page
@model TenantDeleteModel
@{
    ViewData["Title"] = "Delete tenant";
    ViewData["ActivePage"] = ManageNavPages.UserTenants;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Id" class="form-control" placeholder="Please choose your tenant id." disabled />
                <label asp-for="Input.Id" class="form-label"></label>
                <input type="hidden" asp-for="Input.Id" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" placeholder="Please enter the tenant name." disabled />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
                <input type="hidden" asp-for="Input.Name" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Description" class="form-control" placeholder="Please enter enter the tenant description." disabled />
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Remark" class="form-control" placeholder="Remarks about the tenant." disabled />
                <label asp-for="Input.Remark" class="form-label"></label>
                <span asp-validation-for="Input.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>
                    @if (Model.Input.Picture is not null)
                    {
                        <img id="Picture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.Picture))">
                    }
                </p>
            </div>
            <p></p>
            <a class="w-30 btn btn-lg btn-secondary" asp-page="./Tenants">Back</a>
            <button id="delete-tenant-button" type="submit" class="w-70 btn btn-lg btn-primary">Delete</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
