@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Huybrechts.Web.Attributes
@using Huybrechts.Infra.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<StatusMessage />

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post" enctype="multipart/form-data">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" class="form-control" placeholder="Please choose your username." disabled />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstName" class="form-control" placeholder="Please enter your first name." />
                <label for="first-name" class="form-label">First name</label>
                <ValidationMessage For="() => Input.FirstName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" class="form-control" placeholder="Please enter your last name." />
                <label for="last-name" class="form-label">Last name</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label for="phone-number" class="form-label">Phone number</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Profile picture</label>
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       name="file"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                @if (Input.ProfilePicture is not null)
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Input.ProfilePicture))">
                }
                else
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
                }
                <ValidationMessage For="() => Input.ProfilePicture" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);
        Input.FirstName ??= user.FirstName;
        Input.LastName ??= user.LastName;
        Input.PhoneNumber ??= phoneNumber;
        if (user.ProfilePicture is not null)
        {
            if (Input.ProfilePicture is null)
                Input.ProfilePicture = new byte[user.ProfilePicture.Length];
            Array.Copy(user.ProfilePicture, Input.ProfilePicture, user.ProfilePicture.Length);
        }
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
            }
        }

        if (Input.FirstName != user.FirstName)
        {
            user.FirstName = Input.FirstName;
            await UserManager.UpdateAsync(user);
        }

        if (Input.LastName != user.LastName)
        {
            user.LastName = Input.LastName;
            await UserManager.UpdateAsync(user);
        }

        IFormFile? file = HttpContext.Request.Form.Files.FirstOrDefault();
        if (file is not null)
        {
            using (var dataStream = new MemoryStream())
            {
                await file.CopyToAsync(dataStream);
                user.ProfilePicture = new byte[dataStream.Length];
                user.ProfilePicture = dataStream.ToArray();
                await UserManager.UpdateAsync(user);
            }
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [StringLength(120)]
        [Display(Name = "First name")]
        public string? FirstName { get; set; }

        [StringLength(120)]
        [Display(Name = "Last name")]
        public string? LastName { get; set; }

        [XyzPhone]
        [StringLength(120)]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }

        public byte[]? ProfilePicture { get; set; }
    }
}
