@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment webHostingEnv
@inject IViewLocalizer Localizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy for Huybrechts XYZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="welcome h-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Huybrechts XYZ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<partial name="_MenuPartial" />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <partial name="_CookieConsentPartial" />
    </header>
    <main class="container">
        <environment names="Development,Staging">
            <div class="row">
                <div class="col-md-12">
                    <h2>@webHostingEnv.EnvironmentName.ToUpper() ENVIRONMENT</h2>
                    <hr />
                </div>
            </div>
        </environment>

		<div class="row">
			<div class="col-md-12">
				<h4>From the legal perspective</h4>
				<p>Privacy, Cookie Policy, and Terms and Conditions for Huybrechts.xyz.</p>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<ul class="nav nav-pills flex-column">
							<li class="nav-item"><a class="nav-link" href="##top">Introduction</a></li>
							<li class="nav-item"><a class="nav-link" href="##info">Information Collection And Use</a></li>
							<li class="nav-item"><a class="nav-link" href="##use">Use of Data</a></li>
							<li class="nav-item"><a class="nav-link" href="##transfer">Transfer of Data</a></li>
							<li class="nav-item"><a class="nav-link" href="##disclose">Disclosure of Data</a></li>
							<li class="nav-item"><a class="nav-link" href="##use">Security of Data</a></li>
							<li class="nav-item"><a class="nav-link" href="##service">Service Providers</a></li>
							<li class="nav-item"><a class="nav-link" href="##links">Links To Other Sites</a></li>
							<li class="nav-item"><a class="nav-link" href="##child">Children's Privacy</a></li>
							<li class="nav-item"><a class="nav-link" href="##user">User Comments</a></li>
							<li class="nav-item"><a class="nav-link" href="##linking">Hyperlinking to our Content</a></li>
							<li class="nav-item"><a class="nav-link" href="##rights">Reservation of rights</a></li>
							<li class="nav-item"><a class="nav-link" href="##remove">Removal of links</a></li>
							<li class="nav-item"><a class="nav-link" href="##liable">Content Liability</a></li>
							<li class="nav-item"><a class="nav-link" href="##iframe">Use of iframes</a></li>
							<li class="nav-item"><a class="nav-link" href="##disclaimer">Disclaimer</a></li>
							<li class="nav-item"><a class="nav-link" href="##license">License</a></li>
							<li class="nav-item"><a class="nav-link" href="##change">Changes To This Page</a></li>
							<li class="nav-item"><a class="nav-link" href="##contact">Contact us</a></li>
						</ul>
					</div>
					<div class="col-md-9">
						<a id="#top"></a>
						<p>Effective date: January 1, 2024</p>
						<p>This page contains the Privacy Policy, Terms and Conditions, the Disclaimer Notice, and any and all Agreements for Huybrechts.xyz and its related applications</p>
						<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements:</p>
						<ul>
							<li>"Agreements" refers to the Privacy Policy, Terms and Conditions, the Disclaimer Notice, and any and all Agreements for Huybrechts.xyz and its related applications.</li>
							<li>"Service" refers to the Huybrechts.xyz website and related applications</li>
							<li>"The Company", "Ourselves", "We", "Our" and "Us", refers to Vincent Huybrechts.</li>
							<li>"Client", "You" and "Your" refers to you, the person accessing this Service and accepting our terms and conditions.</li>
							<li> "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client or ourselves.</li>
						</ul>
						<p>Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

						<p>All Agreements refer to the Company's stated Services and or products, in accordance with and subject to, prevailing law of Belgium.</p>
						<p>By accessing this Service we assume you accept these Agreements in full. Do not continue to our Service if you do not accept these Agreements stated on this page.</p>
						<p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with our Agreements.</p>

						<a id="#info"></a>
						<h2>Information Collection And Use</h2>
						<p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
						<h3>Types of Data Collected</h3>
						<h4>Personal Data</h4>
						<p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
						<ul>
							<li>Email address</li>
							<li>First name and last name</li>
							<li>Cookies and Usage Data</li>
						</ul>

						<h4>Usage Data</h4>
						<p>We may also collect information that your browser sends whenever you visit our Service or when you access the Service by or through a mobile device ("Usage Data").</p>
						<p>This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
						<p>When you access the Service by or through a mobile device, this Usage Data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>
						<h4>Tracking & Cookies Data</h4>
						<p>
							Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are files with small amount of data which may include an anonymous unique identifier.
							Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.
							We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.
						</p>
						<p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
						<p>Examples of Cookies we use:</p>
						<ul>
							<li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
							<li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
							<li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
						</ul>

						<a id="#use"></a>
						<h2>Use of Data</h2>
						<p>The Service uses the collected data for various purposes:</p>
						<ul>
							<li>To provide and maintain the Service</li>
							<li>To notify you about changes to our Service</li>
							<li>To allow you to participate in interactive features of our Service when you choose to do so</li>
							<li>To provide customer care and support</li>
							<li>To provide analysis or valuable information so that we can improve the Service</li>
							<li>To monitor the usage of the Service</li>
							<li>To detect, prevent and address technical issues</li>
						</ul>

						<a id="#transfer"></a>
						<h2>Transfer Of Data</h2>
						<p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
						<p>If you are located outside European Union and choose to provide information to us, please note that we transfer the data, including Personal Data, to European Union and process it there.</p>
						<p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
						<p>The Company will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

						<a id="#disclose"></a>
						<h2>Disclosure Of Data</h2>
						<h3>Legal Requirements</h3>
						<p>We may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
						<ul>
							<li>To comply with a legal obligation</li>
							<li>To protect and defend the rights or property of the Company</li>
							<li>To prevent or investigate possible wrongdoing in connection with the Service</li>
							<li>To protect the personal safety of users of the Service or the public</li>
							<li>To protect against legal liability</li>
						</ul>

						<a id="#use"></a>
						<h2>Security Of Data</h2>
						<p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

						<a id="#service"></a>
						<h2>Service Providers</h2>
						<p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
						<p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

						<h3>Analytics</h3>
						<p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
						<ul>
							<li>
								<p><strong>Google Analytics</strong></p>
								<p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
								<p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
							</li>
							<li>
								<p><strong>Microsoft Azure Monitor</strong></p>
								<p>Azure Monitor, which now includes Log Analytics and Application Insights, provides sophisticated tools for collecting and analyzing telemetry that allow you to maximize the performance and availability of your cloud and on-premises resources and applications. It helps you understand how your applications are performing and proactively identifies issues affecting them and the resources they depend on.</p>
								<p>For more information on Azure Monitor, please visit the Azure Monitor web page: <a href="https://azure.microsoft.com/en-us/services/monitor/">https://azure.microsoft.com/en-us/services/monitor/</a></p>
							</li>
						</ul>

						<a id="#links"></a>
						<h2>Links To Other Sites</h2>
						<p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
						<p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

						<a id="#child"></a>
						<h2>Children's Privacy</h2>
						<p>Our Service does not address anyone under the age of 18 ("Children").</p>
						<p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>

						<a id="#user"></a>
						<h2>User Comments</h2>
						<p>
							Certain parts of our Service offer the opportunity for users to post and exchange opinions, information, material and data ('Comments') in areas of the website.
							The Company does not screen, edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of the Company, its agents or affiliates.
							Comments reflect the view and opinion of the person who posts such view or opinion. To the extent permitted by applicable laws the Company shall not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this Service.
						</p>
						<p>The Company reserves the right to monitor all Comments and to remove any Comments which it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.</p>
						<p>You warrant and represent that:</p>
						<ol>
							<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
							<li>The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark, or other proprietary right of any third party;</li>
							<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or material which is an invasion of privacy</li>
							<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
						</ol>
						<p>You hereby grant to <strong>our Company</strong> a non-exclusive royalty-free license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

						<a id="#linking"></a>
						<h2>Hyperlinking to our Content</h2>
						<p>You may link to our home page, to publications or to other Service information without prior written approval so long as the link:</p>
						<ul>
							<li>is not in any way misleading;</li>
							<li>does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services;</li>
							<li>fits within the context of the linking party's site;</li>
							<li>fits within the context of this Service;</li>
							<li>the link would not reflect unfavorably on us;</li>
							<li>where the link is in the context of general resource information</li>
							<li>is otherwise consistent with editorial content in a newsletter or similar product.</li>
						</ul>
						<p>
							If you link to our Service, you must notify us by using by sending an e-mail to the webmaster of this domain with the request for a link.
							Please include your name, your organization name, contact information (such as a phone number and/or e-mail address)
							as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
							and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.
						</p>
						<p>You may hyperlink to our Service as follows:</p>
						<ol>
							<li>By use of our corporate name "Huybrechts.xyz"; or</li>
							<li>By use of the uniform resource locator (Web address) being linked to; or</li>
							<li>By use of any other description of our Web site or material being linked to that makes sense within the context and format of content on the linking party's site.</li>
						</ol>

						<a id="#rights"></a>
						<h2>Reservation of Rights</h2>
						<p>
							We reserve the right at any time and in our sole discretion to request that you remove all links or any particular link to our Service.
							You agree to immediately remove all links to our Service upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time.
							By continuing to link to our Service, you agree to be bound to and abide by these linking terms and conditions.
						</p>

						<a id="#remove"></a>
						<h2>Removal of links</h2>
						<p>If you find any link on our Service or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</p>
						<p>Whilst we endeavour to ensure that the information on this Service is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the Service remains available or that the material on the Service is kept up to date.</p>
						<p>You can send an email to the webmaster of this domain with the option to request a link removal. Allow 2-3 weeks for a response.</p>

						<a id="#liable"></a>
						<h2>Content Liability</h2>
						<p>
							We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website.
							No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
						</p>

						<a id="#iframe"></a>
						<h2>Use of iframes</h2>
						<p>Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Service.</p>

						<a id="#disclaimer"></a>
						<h2>Disclaimer</h2>
						<p>We don't claim our Services are good for anything. If you think it is, great, but it's up to you to decide. If they don't work: tough. If you lose a million because we messed up, it's you that's out the million, not us. If you don't like this disclaimer: tough.</p>
						<p>We #reserve the right to do the absolute minimum provided by law, up to and including nothing. This is basically the same disclaimer that comes with all software packages, but ours is in plain English and theirs is in some legal mumbo jumbo. We didn't really want to include any disclaimer at all, but our lawyers insisted. We tried to ignore them but they threatened us with shark attacks, at which point we relented.</p>
						<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our Servce and the use of this website and related applications (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>
						<ol>
							<li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
							<li>limit # exclude our or your liability for fraud or fraudulent misrepresentation;</li>
							<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
							<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
						</ol>
						<p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort(including negligence) and for breach of statutory duty.</p>
						<p>To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
						<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

						<a id="#license"></a>
						<h2>License</h2>
						<p>This is where the bloodthirsty license agreement is supposed to go, explaining that we hold copyrights and sternly warning you not to pirate or do other illegal things with it and explaining, in detail, the gory consequences if you do.</p>
						<p>
							We know that you are an honest person, and are not going to go around using our applications for illegal activities; this is just as well with us since we worked hard to perfect them.
							If, on the other hand, you are one of those few people who do go around pirating copies of software, or using this site for illegal activities, you probably aren't going to pay much attention to a license agreement, bloodthirsty or not.
							Just keep your doors locked and look out for the karma shark attacks you should expect.
						</p>
						<p>This is free and unencumbered software released into the public domain.</p>
						<p>Anyone is free to copy, modify, publish, use, compile, sell, or distribute this software, either in source code form or as a compiled binary, for any purpose, commercial or non-commercial, and by any means.</p>
						<p>
							In jurisdictions that recognize copyright laws, the author or authors of this software dedicate any and all copyright interest in the software to the public domain.
							We make this dedication for the benefit of the public at large and to the detriment of our heirs and successors.
							We intend this dedication to be an overt act of relinquishment in perpetuity of all present and future rights to this software under copyright law.
						</p>
						<p>For more information, please refer to <a href="http://unlicense.org/">unlicense.org</a>.</p>

						<a id="#change"></a>
						<h2>Changes To This Page</h2>
						<p>We may update our Privacy Policy and or Terms and Conditions from time to time by posting the new information on this page.</p>
						<p>You are advised to review this Privacy Policy and Terms and Conditions periodically for any changes. Changes to this page are effective when they are posted on this page.</p>

						<a id="#contact"></a>
						<h2>Contact Us</h2>
						<p>If you have any questions about our website or this page, please contact us by sending an e-mail to the webmaster at huybrechts.xyz.</p>
					</div>
				</div>
			</div>
		</div>

    </main>
    <footer>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-bottom bg-transparent mb-3">
            <div class="container">
                <div class="float-left">
                    &copy; @DateTime.Now.Year - Huybrechts.xyz | <a class="" asp-area="" asp-page="Privacy">Privacy</a>
                </div>
                <div class="float-right">
                    <partial name="_SelectLanguagePartial" />
                </div>
            </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>