@inject ApplicationTenantManager TenantManager
@inject IViewLocalizer Localizer
@{
    var tenants = await TenantManager.GetAllActiveTenantsAsync();
}
@foreach(var tenant in tenants)
{
    <div class="mainnav__categoriy py-3">
        <h6 class="mainnav__caption mt-0 px-3 fw-bold">@tenant.Name</h6>
        <ul class="mainnav__menu nav flex-column">
            <li class="nav-item">
                <a href="/@tenant.Id/Features/Platform/Index" class="nav-link mininav-toggle collapsed">
                    <i class="bi bi-cloud fs-5 me-2"></i>
                    <span class="nav-label mininav-content ms-1">
                        <span data-popper-arrow class="arrow"></span>
                        @Localizer["Platforms"] <span class="badge bg-info ms-auto">@Localizer["NEW"]</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
}
