@using Huybrechts.App.Web

@model string

@if (!String.IsNullOrEmpty(Model))
{
    StatusResult statusResult = StatusResult.Deserialize(Model);

    var statusMessageClass = statusResult.IsFailed ? "danger" : statusResult.IsSuccess ? "success" : "info";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @statusResult.Message
    </div>
}
