@model string
@{
    string message;
    string status;
    if (Model.StartsWith("Error: "))
    {
        message = Model.Substring(7).Trim();
        status = "danger";
    }
    else if (Model.StartsWith("Success: "))
    {
        message = Model.Substring(8).Trim();
        status = "success";
    }
    else
    {
        message = Model.Trim();
        status = "info";
    }
    if(!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-@status alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            @message
        </div>
    }
}