@page
@inject IViewLocalizer Localizer
@model Huybrechts.Web.Pages.Account.Tenant.CreateModel
@{
    ViewData["CardTitle"] = Localizer["Create Team"];
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Id" class="form-control" />
                <label asp-for="Input.Id" class="form-label"></label>
                <span asp-validation-for="Input.Id" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Description" class="form-control" />
                <label asp-for="Input.Description" class="form-label"></label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Remark" class="form-control" />
                <label asp-for="Input.Remark" class="form-label"></label>
                <span asp-validation-for="Input.Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PictureFile" class="form-control" accept=".png,.jpg,.jpeg,.gif" />
            </div>
            <p></p>
            <a class="w-30 btn btn-lg btn-secondary" asp-page="./Index"><i class="bi bi-arrow-left-circle-fill"></i></a>
            <button id="update-tenant-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-floppy-fill"></i></button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
