@page "/home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<InputFile OnChange="LoadFiles" />

@code
{
    private void LoadFiles(InputFileChangeEventArgs e)
    {
        FileStream ms = new FileStream(e.File.Name, FileMode.Create);
        e.File.OpenReadStream().CopyTo(ms);
        var bytes = ms.ReadByte();
    }
}