@page "/home"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<footer class="fixed-bottom mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; @DateTime.Now.Year - Huybrechts.xyz | <a class="" href="/Privacy">Privacy</a></span>
    </div>
</footer>