@page
@using Huybrechts.Core.Setup
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Huybrechts.Web.Pages.Features.Setup.Localization> SL
@model Huybrechts.Web.Pages.Features.Setup.Category.CreateModel
@{
    ViewData["CardTitle"] = SL["CategoryCreateTitle"];
    ViewData["ActivePage"] = ManageNavPages.Category;
}

<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["CategoryCreateInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <select asp-for="Data.TypeOf"
                        asp-items="Model.TypeOfOptions"
                        class="form-select border-info" required></select>
                <label asp-for="Data.TypeOf" class="form-label"></label>
                <span asp-validation-for="Data.TypeOf" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Category" class="form-control border-info" required />
                <label asp-for="Data.Category" class="form-label"></label>
                <span asp-validation-for="Data.Category" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Subcategory" class="form-control border-info" required />
                <label asp-for="Data.Subcategory" class="form-label"></label>
                <span asp-validation-for="Data.Subcategory" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Description" class="form-control" />
                <label asp-for="Data.Description" class="form-label"></label>
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="./Index"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="create-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-floppy-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}